<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>天天花钱用户激活</title>
</head>
<style>
    div{
        font-size: 18px;
    }
</style>
<body>
    <div>
        Email 地址验证

        老村长的噩梦，
        这封信是由 天天花钱网 发送的。

        您收到这封邮件，是由于在 天天花钱网 进行了新用户注册，或用户修改 Email 使用 了这个邮箱地址。如果您并没有访问过 天天花钱网，或没有进行上述操作，请忽 略这封邮件。您不需要退订或进行其他进一步的操作。


        ----------------------------------------------------------------------
        帐号激活说明
        ----------------------------------------------------------------------

        如果您是 天天花钱网 的新用户，或在修改您的注册 Email 时使用了本地址，我们需要对您的地址有效性进行验证以避免垃圾邮件或地址被滥用。

        您只需点击下面的"立即激活"即可激活您的帐号：
        <a href='http://127.0.0.1:8000/User/active%s/'>立即激活</a>
        (如果上述方法未能激活,请<a href=""></a>点此进入</a>天天花钱首页,点击下方联系我们,)

        感谢您的访问，祝您使用愉快！

        此致
        黑马程序员技术交流社区 管理团队.
        http://bbs.itheima.com/

    </div>
</body>
</html>