<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/register.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/Verification_code_Pop-ups.css" />
    <script type="text/javascript" src='/static/js/jquery-1.12.4.min.js'></script>
    <!-- <script type="text/javascript" src="js/jq.js"></script> -->
    <!-- <script type="text/javascript" src="js/jquery.validate.js"></script> -->
    <!-- <script type="text/javascript" src="js/jquery.metadata.js"></script> -->
    <!-- <script type="text/javascript" src="js/resgin.js"></script> -->
    <title>请输入验证码</title>
    <script type="text/javascript">
    $(function() {
{#        // 点击按钮显示#}
{#        $("#btn01").click(function() {#}
{#            // console.log("show");#}
{#            $("#pop").show();#}
{#            // return false;#}
{#        });#}
        $('#pop').show();

        // 点击叉叉消失
        $("#shutoff").click(function() {
            $("#pop").hide();
        });
        // })

        var InterValObj; //timer变量，控制时间
        var count = 120; //间隔函数，1秒执行
        var curCount; //当前剩余秒数

        function sendMessage() {　
            curCount = count;　　 //设置button效果，开始计时
            $("#btnSendCode").attr("disabled", "true");
            $("#btnSendCode").val("请在" + curCount + "秒内输入验证码");
            InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
            　　 //向后台发送处理数据
            $.ajax({　　
                type: "POST", //用POST方式传输
                　　dataType: "text", //数据格式:JSON
                　　url: 'Login.ashx', //目标地址
                　　data: "dealType=" + dealType + "&uid=" + uid + "&code=" + code,
                　　error: function(XMLHttpRequest, textStatus, errorThrown) {},
                　　success: function(msg) {}
            });
        }

        //timer处理函数
        function SetRemainTime() {
            if (curCount == 0) {
                window.clearInterval(InterValObj); //停止计时器
                $("#btnSendCode").removeAttr("disabled"); //启用按钮
                $("#btnSendCode").val("重新发送验证码");
            } else {
                curCount--;
                $("#btnSendCode").val("请在" + curCount + "秒内输入验证码");
            }
        }

        $('#btnSendCode').click(function() {

            sendMessage();
            console.log('66666666666');
        });


    });
    </script>
</head>

<body>
    <input type="button" value="弹出弹框" id="btn01">
    <div class="pop_main" id="pop">
        <div class="pop_con">
            <div class="pop_title">
                <h3>系统监测您在陌生电脑登录，请输入您的短信验证码</h3>
                <a href="#" id="shutoff">×</a>
            </div>
            <div class="wrapper container">
                <form id="signupForm" name="forma" method="post" action="">
                    <p class="clearfix">
                        <label class="one" for="telphone">手机号码：</label>
                        <span id="telphone" name="telphone" class="required">&nbsp;&nbsp;为确保是您本人操作，请完成以下验证 </span>
                    </p>
                    <p class="telnum"><span class="tel"> 是否向绑定手机*******7786发送验证码？</span></p>
                    <p class="clearfix">
                        <label class="one">验证码&nbsp;&nbsp;&nbsp;：</label>
                        <input class="identifying_code" type="text" value placeholder="请输入6位校验码" />
                        <input class="get_code" type="button" id="btnSendCode" value="获取验证码" />
                    </p>
                    <p class="clearfix">
                        <input class="submit" type="submit" value="确定" name="telphone" onsubmit="return doValidate()" />
                    </p>
                </form>
            </div>
            <div class="pop_footer">
            </div>
        </div>
        <div class="mask"></div>
    </div>
</body>

</html>